body {
    background-color: #f8f9fa;
}

.card {
    border: none;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-body {
    padding: 20px;
}

.header-row {
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.font-x-large {
    font-size: x-large;
}

.font-larger {
    font-size: larger;
}